/* General */

.stroke p {
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.stroke h2 {
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

p.small {
    font-size: 26px
}

.large p {
    font-size: 64px;
    font-weight: bold;
}

.reveal section img {
    border: 0px;
    box-shadow: none;
    background: none;
}

.left-col {
    width: 50%;
    float: left;
}

.right-col {
    width: 50%;
    float: right;
}

.clear-col {
    float: none;
    clear: both;
}

.reveal th {
    font-size: 26px;
}

.reveal td {
    font-size: 26px;
}

.large-table th {
    font-size: 40px;
}

.large-table td {
    font-size: 40px;
}


/* Experience */

img[alt="bloomberg"] {
    width: 600px;
}

img[alt="bt"] {
    width: 200px;
    padding-right: 30px;
}

img[alt="ibm"] {
    width: 200px;
    padding-right: 30px;
}

img[alt="helper.io"] {
    width: 130px;
}

/* Title */

#dft-notice {
    float: right;
}

#dft-notice p {
    font-size: 18px;
    margin: 5px;
    text-align: center;
}

img[alt="department for transport"] {
    width: 175px;
    margin: 5px;
}

/* Applications */

img[alt="education"] {
    width: 300px;
}

img[alt="security"] {
    width: 300px;
}

img[alt="robotics"] {
    width: 300px;
}

img[alt="finance"] {
    width: 300px;
}

img[alt="speech recognition"] {
    width: 300px;
}

img[alt="advertising"] {
    width: 300px;
}

/* What is Machine Learning? */

img[alt="venn diagram"] {
    width: 400px;
}

/* Supervised Learning */

#shape-plot {
    width: 500px;
    height: 400px;
    margin-top: 32px
}

#shape-plot-discriminant {
    width: 450px;
}

#shape-plot-complex {
    width: 450px;
}

#shape-plot-overfitting {
    width: 450px;
}

img[alt="k fold cross validation"] {
    margin-bottom: 0px;
}

/* Problem */

img[alt="face-veg-img"] {
    height: 130px;
    margin-right: 32px;
}

/* Prepare Data */

img[alt="sobel edge detection"] {
    width: 750px;
}

/* Spot Check Algorithms */

#linear-data-space-container {
    background-color: white;
}

img[alt="recursive data space"] {
    width: 600px;
}

img[alt="decision tree"] {
    width: 300px;
}

img[alt="arbitrary data space"] {
    width: 600px;
}

img[alt="neural network"] {
    width: 300px;
}

img[alt="face veg decision tree"] {
    width: 650px;
}

#face-veg-colour-plot {
    width: 600px;
}

#face-veg-satedge-plot {
    width: 600px;
}

img[alt="sklearn"] {
    width: 200px;
    margin-left: 32px !important;
}

/* Process Summary */

img[alt="process"]  {
    width: 700px;
}

/* Get in Touch */

.donald {
    background-image: url('../images/donald.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 125px;
    width: 400px;
    height: 400px;
}

div.contact-details {
    margin-top: 125px;
}
